/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 0;
}

.demo-1 .large-header {
	background-image: url('../img/bg-photo.jpg');
	min-height: 560px;
}


.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #000;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title, 
.demo-3 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
	font-family: "Raleway", "Open Sans" ,sans-serif;
}


.main-title .thin {
	font-weight: 200;
	color: #fff;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}