/************************************************************************
************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, p {
    margin          : 0;
    padding         : 0;
    border          : 0;
    vertical-align  : baseline;
    font-weight     : normal;
}

* {
    margin      :0;
    padding     :0;
}

.welcome{
    font-size: 17px !important;
}

html,
button,
input,
select,
textarea {
    color : #222222;
    }

html {
    font-size   : 14px;
    line-height : 1.4;
    }

audio,
canvas,
img,
video {
    vertical-align : middle;
    }
body{
    font-family : 'Raleway', sans-serif;
    font-size   : 14px;
    line-height : 1.846;
    color       : #606577;
}
h1,h2,h3,h4,h5,h6{
    margin  : 0;
    padding : 0;
}

h1{
    font-size       : 35px;
    font-weight     : bold;
    text-transform  : uppercase;
    color           : #5c5c5c;
}
h2{
    font-size       : 16px;
    font-family     : 'Open Sans', sans-serif;
    text-transform  : uppercase;
    font-weight     : 700;
    color           : #444444;
    letter-spacing  : 2px;
}

h3{
    font-size       : 14px;
}

h4{
    font-size       : 12px;   
}
h5{
    font-size       : 10px;   
}

h6{
    font-size       : 8px;   
}

p{
    font-family     : 'Raleway', sans-serif;
    font-size       : 14px;
    font-weight     : 400;
    color           : #929292;
}

ul{
    list-style-type : none;
}
ul li a{
    font-size       : 14px;
    line-height     : 18px;
    font-weight     : 300;
    font-family     : 'Raleway', sans-serif;
}
a,
a:active,
a:focus,
a:active {
    text-decoration : none !important;
    outline         : none;
    }

a {
    text-decoration         : none;
    -webkit-transition      : all 0.2s ease 0.10s;
    -moz-transition         : all 0.2s ease 0.10s;
    -ms-transition          : all 0.2s ease 0.10s;
    -o-transition           : all 0.2s ease 0.10s;
    transition              : all 0.2s ease 0.10s;
    }
.img-responsive{
    width   : 100%;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}




/*------------------------------------------
    -   GLOBAL PADDING  -
--------------------------------------------*/

.section-padding{
    padding     : 100px 0;
}

.section-title{
    position : relative;
}

.section-title:before{
   position         : absolute;
    content         : " ";
    width           : 16%;
    height          : 50px;
    background      : url(../img/red-box.png)center center no-repeat;
    bottom          : 0;
    margin-bottom   : -52px;
    margin-bottom   : -52px;
    left            : 42%;
}

section .p-padding p {
    padding-top     : 75px;
    letter-spacing  : 1.5px;
    color           : #000;
    font-size: 16px !important;
}
section .q-padding  {
    padding     : 75px 0 60px 0;
    letter-spacing  : 1.5px;
    color           : #000;
}
#process,#skill-bar{
    padding: 50px 0px 90px 0px;
}
/*------------------------------------------
    -   NAV  -
--------------------------------------------*/


ul.nav.navbar-nav{
    position    : relative;
}
ul.nav.navbar-nav li a {
    text-transform  : uppercase;
    color           : #343434;
    font-weight     : 300;
    font-size       : 14px;
}
.navbar-nav > li {
    border-right    : 1px solid #e4e4e4;
}
.navbar-nav > li > a.active {
    border-right    : 1px solid #3399FF;
}
.navbar-nav > li:nth-child(8){
    border-right    : 1px solid transparent;
}
.navbar-nav > li:last-child{
    border-right   : 1px solid transparent;
    padding-left   : 15px;
    border-left    : 1px solid #e4e4e4;
    line-height    : 20px;
    min-width      : 31px;
}
.navbar-nav > li > a {
    padding-top     : 0;
    padding-bottom  : 0;
}
.navbar-nav > li >.search-open {
    position    : absolute;
    right       : 0px;
    top         : 45px;
    width       : 200px;
    z-index     : 999;
}
.search-open .form-control {
border          : 1px solid #eee;
border-radius   : 0;
}

.search-open .form-control:focus {
    outline             : 0;
    -moz-box-shadow     : 0px 0px 1px rgba(232,71,0,0.9);
    -webkit-box-shadow  : 0px 0px 1px rgba(232,71,0,0.9);
    -ms-box-shadow      : 0px 0px 1px rgba(232,71,0,0.9);
    -o-box-shadow       : 0px 0px 1px rgba(232,71,0,0.9);
    box-shadow       : 0px 0px 1px rgba(232,71,0,0.9);

    /*box-shadow          : 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(232,71,0,0.9);*/
}

.search-open .input-group{
    -webkit-box-shadow  : 4px 8px 6px -7px #777;
    -moz-box-shadow     : 4px 8px 6px -7px #777;
    -ms-box-shadow      : 4px 8px 6px -7px #777;
    -o-box-shadow       : 4px 8px 6px -7px #777;
    box-shadow          : 4px 8px 6px -7px #777;

}

i.search.fa.search-btn.fa-search {
cursor  : pointer;
}
.input-group-btn {
position            : relative;
font-size           : 0;
white-space         : nowrap;
font-size           : 15px;
}
button.btn-u {
padding             : 6px 10px;
color               : #fff;
background-color    : #3399FF;
border              : 1px solid #3399FF;
}
button.btn-u:focus,
button.btn-u:active{
    border              : 1px solid red;
      outline-width     : 0px;
     -moz-box-shadow    : 0px 0px 1px rgba(232,71,0,0.9);
    -webkit-box-shadow  : 0px 0px 1px rgba(232,71,0,0.9);
    -ms-box-shadow      : 0px 0px 1px rgba(232,71,0,0.9);
    -o-box-shadow       : 0px 0px 1px rgba(232,71,0,0.9);
    box-shadow          : 0px 0px 1px rgba(232,71,0,0.9);
}
.navbar-default{
    background-color    : #f7f7f7;
    padding             : 25px 0;
    -webkit-box-shadow  : 0px 0.866px 1px 0px #D2D1C8;
    -moz-box-shadow     : 0px 0.866px 1px 0px #D2D1C8;
    -ms-box-shadow      : 0px 0.866px 1px 0px #D2D1C8;
    -o-box-shadow       : 0px 0.866px 1px 0px #D2D1C8;
    box-shadow          : 0px 0.866px 1px 0px #D2D1C8;
}

ul.nav.navbar-nav>li>.active{
    font-weight     : 400;
 }
ul.nav.navbar-nav li a.active{
    color       : #3399FF;
    background  : transparent;
}

ul.nav.navbar-nav li a:hover,
ul.nav.navbar-nav li a:focus,
ul.nav.navbar-nav li a:active
{
    color       : #3399FF;
    background  : transparent;
    }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > .active > a:focus{
color       : #3399FF;
background  : transparent;
}


.navbar-fixed-top{
    padding-top         : 25px;
    padding-bottom      : 25px;
    -webkit-transition  : all ease-in-out 0.70s;
    -moz-transition     : all ease-in-out 0.70s;
    -o-transition       : all ease-in-out 0.70s;
    -ms-transition      : all ease-in-out 0.70s;
    transition          : all ease-in-out 0.70s;
}

.navbar-fixed-top .navbar-right{

    margin-right    : 0;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:active {

  background-color  : transparent !important;
  color             : #3399FF;
  }


.navbar-nav > li > .dropdown-menu {
    border-top-left-radius          : 0;
    border-top-right-radius         : 0;
    left                            : 0px;
    padding                         : 10px 0 0 0;
    background                      : transparent;
    border-radius                   : 0 0 0 0; 
    -webkit-box-shadow              : 0 0 0 #000000;
    -moz-box-shadow                 : 0 0 0 #000000;
    -ms-box-shadow                  : 0 0 0 #000000;
    -o-box-shadow                   : 0 0 0 #000000;
    box-shadow                      : 0 0 0 #000000;
    border-width                    : 0;
    

}

.navbar-nav > li > .dropdown-menu li {

    background          : #ffffff;
    border-width        : 0 1px 1px 1px; 
    border-style        :solid;
    border-color        : #eeeeee;
    -webkit-box-shadow  : 0 1px 3px #ececec;
    -moz-box-shadow     : 0 1px 3px #ececec;
    -ms-box-shadow      : 0 1px 3px #ececec;
    -o-box-shadow       : 0 1px 3px #ececec;
    box-shadow          : 0 1px 3px #ececec;
    

}

.navbar-nav > li > .dropdown-menu li a{

    font-size       : 12px;
    padding         : 8px 15px;
    color           : #626262;
    letter-spacing  : 1px;
}


.fa.fa-times{
    cursor     : pointer;
}


/*------------------------------------------
    -   SETTINGS FOR BANNER CONTAINERS  -
--------------------------------------------*/

.tp-banner-container{
    width       :100%;
    position    :relative;
    padding     :0;

}

.tp-banner{
    width       :100%;
    position    :relative;
}

.tp-banner-fullscreen-container {
        width       :100%;
        position    :relative;
        padding     :0;
}



/*------------------------------------------
    -   mmenu  -
--------------------------------------------*/
a.navbar-brand {
    padding     : 0;
    height      : 0;
}
.navbar-left{
    padding     : 0;
    margin      : 0;
    margin-top  : 2px;
}
.mm-list > li > a, .mm-list > li > span{
    text-transform  : uppercase;
    color           : #ffffff;
}

.mm-list a, .mm-list a:hover{
    color : rgb(232, 71, 0);
}

.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen), 
.mm-menu .mm-list > li.mm-selected > span{

    color : rgb(232, 71, 0);
}

.mm-menu .mm-list > li > a.mm-subopen:after{
    color   : red !important;
}
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
border-color    : rgba(232, 71, 0, 0.8);
}

.mm-menu .mm-list > li > a.mm-subclose{

    color       : #ffffff;
    font-size   : 18px;
}

.mm-menu.mm-current{

    z-index : 99999;
}


/*------------------------------------------
    -   WHO WE ARE  -
--------------------------------------------*/

.who-we-are{
    background-color: #fff;
    padding-top: 150px;
}
section.who-we-are .col-lg-12{
    margin-bottom       : 50px;
}
section.who-we-are .col-md-3 .fa{
    font-size           : 25px;
    color               : #3399FF;
    margin              : 0 auto;
    height              : 90px;
    width               : 90px;
    border-radius       : 50%;
    border              :2px solid #3399FF;
    line-height         : 80px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}
section.who-we-are .col-md-3 i:before{
    margin-left         : 0px;
    font-size           : 40px;
}


section.who-we-are .col-md-3 .fa:hover{
    
    background-color        : #3399FF ;
    color                   : #fff;
    border                  : 1px solid #3399FF;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.who-we-are-content p{
    font-size               : 13px;
    padding-top             : 30px;
}

.menu-fix{

    margin-top  : 100px;
}


.parallax-overlay{
    position: absolute;
    left: 0;
    top: 53.7%;
    width: 100%;
    height: 332px;
    background: url(../img/overaly.png);
}
.parallax2{
    background: url(../img/parallax5.png) fixed 50% 50%;
}
.process-desc{
    margin-top: 60px;
}
.process-timeline{
    width: 100%;
    height: 1px;
    background: none repeat scroll 0% 0% #eee;
    position: relative;
    top: 40px;
}
.single-process, .process-none{
    width: 16.5%;
    float: left;
}
.process-icon{
    position: relative;
}
.process-icon i,.process-none i{
    font-size: 35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-top: 15px;
    background: #eee;
    -webkit-box-shadow: 0px 0px 0px 2px #ccc;
    box-shadow: 0px 0px 0px 5px #fff;
}

.process-icon:before{
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: #fff;
    top: 50%;
    left: 0px;
    border-radius: 50%;
    border: 2px solid#ccc;
}
.single-process h4,.process-none h4{
    text-transform: uppercase;
    font-family: 'Open Sans', serif;
    font-weight: 500;
    margin-top: 20px;
    color: #fff;
}
.process-icon i,
.process-none i {
    border: 2px solid #3399FF;
}
.process-icon i:hover,
.process-none i:hover{
    background-color: #85b91e;

}

/*===========================================================
   -         PARTNER WRAPPER            -
=============================================================*/
.partner-wrapper .owl-carousel .feature-image{
    padding     : 35px;
}
.partner-wrapper{
    background-color: #f5f5f5;
    padding: 70px;
}

.client{
    margin-top: 55px;
}

/*========================================================
                      FOOTER
==========================================================*/
.floatleft{
    float    : left;
}
.floatright{
    float   : right;
}
.clearboth{
    clear    : both;
}

footer{
    background    : #2a333b;
    border-top    : 1px solid #3c3c3c;
}

footer .footer-heading{
    font           : bold 18px/19px 'Raleway', sans-serif;
    letter-spacing : 1.5px;
    color          : #e1e1e1;
    text-transform : uppercase;
        
}

.footer-heading::first-letter {
  
  color  : #3399FF;
}

.footer-content{
    font    : normal 13px/20px Open Sans;
    color   : #dcdcdc;
    margin  : 10px 0 0;
}

.footer-wrapper ul.footermenu,.footer-wrapper ul.footercontact,.footer-wrapper ul.footerblog {
    margin  : 30px 0 0; 
}
.footer-wrapper ul.footermenu li {
    margin-bottom: 10px;
}

.footer-wrapper ul.footermenu li a{
    text-transform  : capitalize;
    font            : normal 14px/18px 'Raleway', sans-serif;
    color           : #999999;
    letter-spacing  : 1.2px;
}

ul.footermenu li a:hover{
    color: #3399ff;
}

.footer-wrapper ul.footermenu li a:before{
    content : "";
    margin  : 0 5px 0 0;
}

.footer-wrapper ul.footercontact li,.footer-wrapper ul.footercontact li a{
    font             : normal 13px/28px 'Open Sans', sans-serif;
    color            : #666666;
    letter-spacing   : 1.2px;
}

.footer-wrapper ul.footercontact li span{
    text-transform  : capitalize;
}

.footer-wrapper ul.footercontact li span,.footer-wrapper ul.footercontact li i{
    color  : #dcdbdb;
}

.footer-wrapper ul.footercontact li i:before{
    font-size  : 14px;
    margin     : 0 8px 0 0;
}
    
.footer-wrapper ul.footercontact li .flaticon-close13:before{
    font-size  : 10px;
}

.footer-wrapper ul.footerblog li,.footer-wrapper ul.footerblog li a{
    font            : normal 13px/18px 'Open Sans', sans-serif;
    color           : #b4b4b4;
    letter-spacing  : 1.2px;
    padding-bottom  : 10px;    
}

ul.footercontact li a:hover {
    color: #3399ff;
}

/*===========================================================
   -         FOOTER BOTTOM            -
=============================================================*/

.footer-bottom .col-xs-12 p{
    font-size   : 12px;
}
.footer-bottom .col-xs-12 p span{
    text-transform  : uppercase;
}
.footer-bottom .col-xs-12 p a{
    color           : #9a9a9a !important;
    text-transform  : capitalize;
}
.footer-bottom .col-xs-12 p a:hover{
    color   : #3399ff !important;
}
.footer-bottom{
    background-color    : #242b32;
    padding             : 20px 0;
}
.backtop {
    color              : #fff;
    border             : 1px solid #171715;
    padding            : 3px 5px;
    font-size          : 24px;
    overflow           : hidden;
    cursor             : pointer;
    width              : 40px;
    height             : 40px;
    border-radius      : 40px;
    line-height        : 30px;
    background-color   : #171717;
    text-align         : center;
    position           : absolute;
    bottom             : -8px;
    right              : 15px;
    -webkit-transition : 500ms;
    -moz-transition    : 500ms;
    -o-transition      : 500ms;
    -ms-transition     : 500ms;
    transition         : 500ms;
    box-sizing         : border-box;
    -moz-box-sizing    : border-box;
    -webkit-box-sizing : border-box;
    -webkit-transform  : translateZ(0);
    }

.backtop:hover {
    color      : #3399FF;
    background : #252525;
    }

.backtop:after {
    /*pointer-events     : none;*/
    position           : absolute;
    width              : 100%;
    height             : 100%;
    content            : '';
    -webkit-box-sizing : content-box;
    -moz-box-sizing    : content-box;
    box-sizing         : content-box;
    display            : none;
    }

.backtop:before {
    font-family            : 'FontAwesome';
    speak                  : none;
    font-size              : 20px;
    line-height            : 30px;
    font-style             : normal;
    font-weight            : normal;
    font-variant           : normal;
    text-transform         : none;
    display                : block;
    -webkit-font-smoothing : antialiased;
    }

.backtop:hover::before {
    -webkit-animation : toTopFromBottom 0.3s forwards;
    -moz-animation    : toTopFromBottom 0.3s forwards;
    animation         : toTopFromBottom 0.3s forwards;
    }



/*NAVBAR TOGGLE*/
.navbar-toggle {
    position        : relative;
    float           : right;
    padding         : 11px 10px;
    margin-top      : -10px;
    margin-right    : 15px;
    margin-bottom   : 0;
    background-color: transparent;
    background-image: none;
    border          : 1px solid #3399ff !important;
    border-radius   : 0;
}
.navbar-default .navbar-toggle .icon-bar {
background-color    : #3399FF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color    : #3399FF;
-webkit-transition  : all ease 200ms;
-moz-transition     : all ease 200ms;
-o-transition       : all ease 200ms;
transition          : all ease 200ms;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar{
    background-color    : #fff;
   -webkit-transition   : all ease 200ms;
   -moz-transition      : all ease 200ms;
   -o-transition        : all ease 200ms;
   transition           : all ease 200ms;
}

.row-merge {
    width: 100%;
    *zoom: 1;
}
.row-merge:before,
.row-merge:after {
    display: table;
    content: "";
    line-height: 0;
}
.row-merge:after {
    clear: both;
}
.row-merge [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0%;
    *margin-left: -0.06944444444444445%;
}
.row-merge [class*="span"]:first-child {
    margin-left: 0;
}
.row-merge .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0%;
}
.row-merge .span12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
}
.row-merge .span11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
}
.row-merge .span10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
}
.row-merge .span9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
}
.row-merge .span8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
}
.row-merge .span7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
}
.row-merge .span6 {
    width: 49.99999999999999%;
    *width: 49.93055555555555%;
}
.row-merge .span5 {
    width: 41.66666666666666%;
    *width: 41.597222222222214%;
}
.row-merge .span4 {
    width: 33.33333333333333%;
    *width: 33.263888888888886%;
}
.row-merge .span3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
}
.row-merge .span2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
}
.row-merge .span1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
}
.row-merge .offset12 {
    margin-left: 99.99999999999999%;
    *margin-left: 99.8611111111111%;
}
.row-merge .offset12:first-child {
    margin-left: 99.99999999999999%;
    *margin-left: 99.8611111111111%;
}
.row-merge .offset11 {
    margin-left: 91.66666666666666%;
    *margin-left: 91.52777777777777%;
}
.row-merge .offset11:first-child {
    margin-left: 91.66666666666666%;
    *margin-left: 91.52777777777777%;
}
.row-merge .offset10 {
    margin-left: 83.33333333333331%;
    *margin-left: 83.19444444444443%;
}
.row-merge .offset10:first-child {
    margin-left: 83.33333333333331%;
    *margin-left: 83.19444444444443%;
}
.row-merge .offset9 {
    margin-left: 74.99999999999999%;
    *margin-left: 74.8611111111111%;
}
.row-merge .offset9:first-child {
    margin-left: 74.99999999999999%;
    *margin-left: 74.8611111111111%;
}
.row-merge .offset8 {
    margin-left: 66.66666666666666%;
    *margin-left: 66.52777777777777%;
}
.row-merge .offset8:first-child {
    margin-left: 66.66666666666666%;
    *margin-left: 66.52777777777777%;
}
.row-merge .offset7 {
    margin-left: 58.33333333333333%;
    *margin-left: 58.19444444444444%;
}
.row-merge .offset7:first-child {
    margin-left: 58.33333333333333%;
    *margin-left: 58.19444444444444%;
}
.row-merge .offset6 {
    margin-left: 49.99999999999999%;
    *margin-left: 49.86111111111111%;
}
.row-merge .offset6:first-child {
    margin-left: 49.99999999999999%;
    *margin-left: 49.86111111111111%;
}
.row-merge .offset5 {
    margin-left: 41.66666666666666%;
    *margin-left: 41.52777777777777%;
}
.row-merge .offset5:first-child {
    margin-left: 41.66666666666666%;
    *margin-left: 41.52777777777777%;
}
.row-merge .offset4 {
    margin-left: 33.33333333333333%;
    *margin-left: 33.19444444444444%;
}
.row-merge .offset4:first-child {
    margin-left: 33.33333333333333%;
    *margin-left: 33.19444444444444%;
}
.row-merge .offset3 {
    margin-left: 24.999999999999996%;
    *margin-left: 24.86111111111111%;
}
.row-merge .offset3:first-child {
    margin-left: 24.999999999999996%;
    *margin-left: 24.86111111111111%;
}
.row-merge .offset2 {
    margin-left: 16.666666666666664%;
    *margin-left: 16.52777777777778%;
}
.row-merge .offset2:first-child {
    margin-left: 16.666666666666664%;
    *margin-left: 16.52777777777778%;
}
.row-merge .offset1 {
    margin-left: 8.333333333333332%;
    *margin-left: 8.194444444444443%;
}
.row-merge .offset1:first-child {
    margin-left: 8.333333333333332%;
    *margin-left: 8.194444444444443%;
}
[class*="span"].hide,
.row-merge [class*="span"].hide {
    display: none;
}
[class*="span"].pull-right,
.row-merge [class*="span"].pull-right {
    float: right;
}
@media (max-width: 767px) {
    [class*="span"],
    .uneditable-input[class*="span"],
    .row-merge [class*="span"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .span12,
    .row-merge .span12 {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .row-merge [class*="offset"]:first-child {
        margin-left: 0;
    }
}
/*= TYPOGRAPHY
---------------------------------------------------------------------------------------------- */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}
body {
    background: #fff;
    color: #666;
    font-size: 14px;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 500;
    color: #444;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.15;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 12px;
    margin: 0 0 0 5px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 11px;
}
strong,
b {
    color: #555;
}
a {
    color: #3399ff;
}
a:hover,
a:focus {
    outline: none;
}
small,
.small {
    font-size: 13px;
}
ul,
menu,
dir {
    list-style-type: square;
}
form {
    margin: 0;
}
form fieldset {
    border: 1px solid #e5e6e7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 25px;
}
label {
    font-family: inherit;
    font-weight: inherit;
}
.lead {
    font-size: 15px;
    line-height: 24px;
}
.unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}
.gap-15 {
    height: 15px;
}
.gap-30 {
    height: 30px;
}
.gap-50 {
    height: 30px;
}
.gap-70 {
    height: 30px;
}
/*= FORM
---------------------------------------------------------------------------------------------- */
.form-control {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
}

/*= HEADER
---------------------------------------------------------------------------------------------- */
.header .navbar {
    background: #fff;
}
.header .navbar-nav > li > a {
    font-size: 14px;
    color: #555;
}
.header-part{
    min-height: 560px;
}
/*= SECTIONS
---------------------------------------------------------------------------------------------- */
.section {
    padding: 100px 0;
}
.section.type-1 {
    background: #2a333b;
    color: #a5b3bf;
}
.section.type-1 h1,
.section.type-1 h2,
.section.type-1 h3,
.section.type-1 h5,
.section.type-1 h6,
.section.type-1 strong,
.section.type-1 b {
    color: #fff;
}
.section.type-1 h4 {
    font-size: 16px;
    color: #3399FF;
    border-color: #313b44;
}
.section.type-1 hr {
    border-color: #313b44;
}
.section.type-1 .form-control {
    background: #384048;
    border-color: transparent !important;
    color: #a5b3bf;
    -o-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    /* ...and now override with proper CSS property */

    transition: background-color 0.3s linear;
}
.section.type-1 .form-control:focus {
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.section.type-2 {
    background: #fff;
}
.section.type-3 {
    background: #f0f2f4;
}
.section.type-4 {
    background: #00a0dc;
}
.section.big {
    height: 100%;
}

.section-headlines {
    margin-bottom: 60px;
    text-align: center;
}
.section-headlines > h2 {
    font-size: 32px;
}
.section-headlines > h4 {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: #00a0dc;
    border-bottom: 2px solid #ddd;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 35px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.section-headlines > div {
    line-height: 1.8;
}

/*= JUMPER
---------------------------------------------------------------------------------------------- */
.jumper {
    height: 0;
    position: relative;
    top: -50px;
}
/*= WORK
---------------------------------------------------------------------------------------------- */
.work-thumb {
    display: block;
}
.work-content {
    background: #fff;
    padding: 15px;
}
/*= SERVICES
---------------------------------------------------------------------------------------------- */
.gallery-control {
    margin: 0 0 30px;
    text-align:center;
}
#Grid {
    font-size: 0;
    line-height: 0;
    text-align: justify;
    display: inline-block;
    width: 100%;
}
#Grid .mix {
    opacity: 0;
    display: none;
    width: 20%;
    vertical-align: top;
    font-size: 14px;
}
#Grid .mix > div .media-thumb {
    position: relative;
    overflow: hidden;
}
#Grid .mix > div .media-thumb img {
    display: block;
    max-width: 100%;
}
#Grid .mix > div .media-thumb:hover .media-desc {
    opacity: 1;
    filter: alpha(opacity=100);
}
#Grid .mix > div .media-desc {
    opacity: 0;
    filter: alpha(opacity=0);
    background: #00a0dc  ;
    background: rgba(132,194,37, 0.8);
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 20px;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    /* ...and now override with proper CSS property */

    transition: opacity .3s linear;
}
#Grid .mix > div .media-desc > div {
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#Grid .mix > div .media-desc b {
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}
#Grid .mix > div .media-detail {
    background: #f9f9f9;
    border-top: 1px solid #eee;
    padding: 10px;
    margin: 0 10px;
    line-height: 20px;
    display: none;
}
@media (max-width: 1020px) {
    #Grid .mix {
        width: 25%;
    }
    .parallax-overlay{
        visibility: hidden;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #Grid .mix {
        width: 33.333333%;
    }
    .parallax-overlay{
        visibility: hidden;
    }
}
@media (max-width: 767px) {
    #Grid .mix {
        width: 100%;
    }
    .parallax-overlay{
        visibility: hidden;
    }
}

/*= FEATURES
---------------------------------------------------------------------------------------------- */
.features .media > i {
    float: left;
    font-size: 28px;
    line-height: 55px;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    border: 3px solid #3399FF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.features .media + .media {
    margin-top: 0;
}

.desc{
    color: #333;
    font-size: 17px;
}
a.desca  {
    color: #3399FF;
}
a.desca:hover  {
    text-decoration: underline !important;
}
.media-body h3{
    color: #000;
    font-weight: 600;
}

/*= SOCIAL LINKS
---------------------------------------------------------------------------------------------- */
.person .person-avatar {
    margin-right: 20px;
}

.avatar { width:100px;}
/*= SOCIAL LINKS
---------------------------------------------------------------------------------------------- */
.social-links {
    font-size: 30px;
}
.social-links.size-big {
    font-size: 40px;
}
.social-links a {
    color: #aaa;
    text-decoration: none !important;
}
.social-links a:hover {
    color: #00a0dc  ;
}
/*= BRANDS
---------------------------------------------------------------------------------------------- */
.brands .brand {
    border: 1px solid #eee;
    padding: 30px;
    text-align: center;
}
/*= FOOTER
---------------------------------------------------------------------------------------------- */
.footer {
    background: #242b32;
    color: #a5b3bf;
    font-size: 13px;
    padding: 20px 0;
}
.footer * {
    line-height: 20px;
}
.footer .link-social {
    color: inherit;
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin-left: 15px;
    text-decoration: none !important;
    font-size: 18px;
}
.footer .link-social:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.section-contact .address-row {
    display: table;
    width: 100%;
}
.section-contact .address-sign {
    display: table-cell;
    width: 30px;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.section-contact .address-info {
    display: table-cell;
}

@media (min-width: 768px) and (max-width: 979px) {
    /*= RESPONSIVE RESET
    ---------------------------------------------------------------------------------------------- */
}
@media (max-width: 979px) {
    /*= RESPONSIVE RESET
    ---------------------------------------------------------------------------------------------- */
}

.dark-bg { background: #f3f5f8; }
.light-bg { background-color: #fff; }
.dark-box { background: #f3f5f8; -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4; -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4; }
.light-box { background-color: #fff; -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4; -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4; padding: 20px 0; }
.light-box:hover, .light-box:focus { -webkit-box-shadow: 0px 3px 0px 0px #3399FF; -moz-box-shadow: 0px 3px 0px 0px #3399FF;
    box-shadow: 0px 3px 0px 0px #3399FF; }
.box-hover { transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out; }
.box-hover:hover, .box-hover:focus { transform: translate(0, -15px); -webkit-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px); }
.wrapper { max-height: 600px;}
.nopadding { padding: 0; }
.inner { padding-top: 170px; }
a#mail{
    color: #000;
}
a#mail:hover{
    color: #3399FF;
}
/* ==========================================================================
Contact
========================================================================== */
.up-btn { width: 50px; height: 50px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
    -o-border-radius: 50%; background: rgba(61, 201, 179, 0.5); display: block; margin: 0 auto; color: #fff;
    font-size: 18px; line-height: 46px; text-align: center; position: absolute; top: -26px; left: 0; right: 0;
    margin-left: auto; margin-right: auto; }
.up-btn:hover, up-btn:focus { color: #fff; background: #3399FF }
.contact-details { margin: 70px 0; }
.contact-details h2 { font-size: 20px; }
.contact-details h2 span { display: block; color: #3399FF; text-transform: uppercase; letter-spacing: 1px; font-size: 14px; margin-top: 15px; }
.contact-wrap { position: relative; }
ul.social-buttons { list-style: none; margin: 0; padding: 0; }
ul.social-buttons li { display: inline-block; margin-right: 10px; }
ul.social-buttons li:last-child { margin-right: 0; }
.social-btn { width: 40px; height: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; background: #242830; display: inline-block; color: #fff; font-size: 17px; line-height: 40px; text-align: center; }
.social-btn:hover, .social-btn:focus { background: #3399FF; color: #fff; }
.social { margin-top: 25px }
ul.footer-social-buttons { list-style: none; margin: 30px 0; padding: 0; }
ul.footer-social-buttons li { display: inline-block; margin-right: 10px; }
ul.footer-social-buttons li:last-child { margin-right: 0; }

